<div class="center jumbotron other-color">
  <h1>Welcome to the Productivity Project!</h1>
  <h2>
    The Productivity Project is free suite of web-based productivity 
    tools to help you work more efficiently to achieve your goals.
  </h2>
    
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
