<div class="center jumbotron other-color">
  <h1>Welcome to the To-Do Lists App!</h1>
  <h2>Create and manage your own customizable To-Do List!</h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
